#popup{
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
    height: 70%;
    z-index: 10;
}

#buttons-div{
   padding-top: 10%;
}

#validate-button{
    height: 60px;
    margin-top: 80px;
}

.file-item-name{
    color: white !important;
}